@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');

html {
  height: 100%;
  min-height:800px;
}
body {
  background: url('https://i.pinimg.com/originals/48/79/86/487986c17560a8ed1afdc55e480e5be2.png');
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
 font-family: 'Noto Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1{
  font-weight:700;
  font-size: 40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

section {
  padding: 80px ;
  max-width:980px;
  margin: 30px auto;
  background:white;
  background:rgba(255,255,255,0.9);
  backdrop-filter:blur(10px);
  box-shadow:0px 2px 10px rgba(0,0,0,0.3);
  border-radius:5px;
  transition:transform 0.2s ease-in-out;
}


input {
  width: 100%; 
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 55px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
input [type="file"]{
  width: 10%; 
  margin: 7px 0px;
  display: none;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
.attachment input {
  display: flex;
  width: 40%;
  flex-direction: row;
  /* margin-left: 60%; */
  margin-top: 20px;
}
.attachment button {
  padding: 20px;
  background-color: rgb(186, 113, 11);
  color: aliceblue;
  outline: none;
  /* border: 1px solid rgb(186, 113, 11); */
  border-radius:9px;
  display: flex;
  flex-direction: row;
  margin-left: 80%;
  margin-top: -40px;
}

p{
  text-align:justify;
  margin-top:-40px;
  margin-right:20px;
}
.intro h2 {
  margin-top: -25px;
}
input[type="text"] {
    margin-left: 10px;
    /* width: 100%; */
  
}
section {
  display: flex;
  flex-direction: row;
}
section .staff {
  display: flex;
  flex-direction: column;
}
section h2 {
  text-align: center;
  color: rgba(171, 121, 27, 0.883);
  font-family: 900;
  margin-left: 250px;
}
section #performance {
  display: flex;
  flex-direction: row;
  margin-left: -90px;
}
#descDiv {
  display: flex;
  flex-direction: column;
}

section label {
  font-size: 14px;
}
section #ind {
  text-align: left;
}

.innerDiv2 input[type="text"] {
  border: 0;
}
.innerDiv2 input[type="text"]:focus{
  outline: none;
}
.exp {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  section {
    display: flex;
    flex-direction: column;
  }
  section h2 {
    text-align: center;
    color: rgba(171, 121, 27, 0.883);
    font-family: 900;
    margin-left: 0px;
  }
}
